.profile__avatar_overlay {
    position: relative;
    display: flex;
    width: 120px;
    height: 120px;
    opacity: 0;
    background: rgba(0, 0, 0, .8);
    transition: opacity 0.5s;
}

.profile__avatar_overlay:hover {
    opacity: 1;
    cursor: pointer;
  }