@import url(./__title/profile__title.css);
@import url(./__text/profile__text.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__info/profile__info.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__add-button/profile__add-button.css);

.profile {
    display: flex;
    max-width: 882px;
    height: 120px;
    margin: 40px auto 0;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        max-width: 282px;
        height: 286px;
        margin-top: 42px;
    }
}