.popup__error_visible {
    visibility: visible;
    margin: 0 29.74px 13px;
    font-size: 12px;
    line-height: 15px;
}

@media screen and (max-width: 320px) {
    .popup__error_visible {
        margin: 0 auto 5px;
        width: 85%;
    }
}