.profile__text {
    width: 380px;
    margin: 0 24px 0 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .profile__text {
        max-width: 201px;
        height: 100%;
        text-align: center;
        margin: 0 12px 36px 35px;
    }
}