@import url(./__image/element__image.css);
@import url(./__remove-button/element__remove-button.css);
@import url(./__like-button/element__like-button.css);
@import url(./__title/element__title.css);
@import url(./__like-button/_clicked/element__like-button_clicked.css);
@import url(./__likes-number/element__likes-number.css);
@import url(./__likes-container/element__likes-container.css);


.element {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    max-width: 282px;
    height: 361px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
