.popup__close-button {
    position: relative;
    width: 40.7px;
    height: 40.7px;
    margin-left: 450px;
    padding: 0;
    background-image: url(../../../images/closeicon_regular.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .popup__close-button {
        margin-left: 90%;
    }
}