.profile__add-button {
    display: flex;
    width: 150px;
    min-height: 50px;
    background-image: url('../../../images/profile__addButton.png');
    background-color: black;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    box-sizing: border-box;
    border: 2px solid #ffffff;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
  }

  @media screen and (max-width: 733px) {
    .profile__add-button {
        width: 282px;
    }
}

@media screen and (max-width: 320px) {
    .profile__add-button {
        width: 282px;
        margin: 0;
        padding: 0;
    }
}