.elements__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 21px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .elements__list {
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .elements__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 733px) {
    .elements__list {
        grid-template-columns: 1fr;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .elements__list {
        max-width: 282px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 20px;
    }
}