.popup__button_disabled {
    background-image: url(../../../../images/submitbutton_disabled.png);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    pointer-events: none;
}