@import url(./__image/element__image.css);
@import url(./__like-button/element__like-button.css);
@import url(./__title/element__title.css);

.element {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    max-width: 282px;
    height: 361px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
