.element__remove-button {
    display: flex;
    position: absolute;
    width: 18px;
    height: 19.3px;
    padding: 0;
    top: 19px;
    right: 15px;
    background-image: url(../../../images/trash.svg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}

.element__remove-button:hover {
    opacity: 0.25;
    cursor: pointer;
}