.popup__container_theme_transparent {
    display: flex;
    position: relative;
    align-items: center;
    justify-self: center;
    left: 0;
    top: 0;
    background: transparent;
    padding: 0;
    height: auto;
    width: auto;
}