.popup__field {
    max-width: 358px;
    width: 100%;
    max-height: 27.3px;
    border-style: none;
    border-bottom: 1px solid #c4c4c4;
    margin: 0 auto 10px;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13.26px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 320px) {
    .popup__field {
        width: 85%;
        padding-bottom: 0;
        font-size: 12px;
        line-height: 15px;
        min-height: 24px;
        margin-top: 0;
        margin-bottom: 10px;
    }
}